<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>F:\Video (F)\Visual studio\Visual Projects\MainOffice\deploy\MainOffice.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\default.mdf;Initial Catalog=Default;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MainOffice.Models.ApplicationDbContext, MainOffice" MigrationConfiguration="MainOffice.Migrations.ApplicationDbContext.Configuration, MainOffice" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AppDbContext" Order="2" Enabled="True">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=MainOffice;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MainOffice.Models.AppDbContext, MainOffice" MigrationConfiguration="MainOffice.Migrations.AppDbContext.Configuration, MainOffice" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AppDbContext-Web.config Connection String">
      <ParameterValue>Data Source=.\SQLEXPRESS;Initial Catalog=MainOffice;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\default.mdf;Initial Catalog=Default;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>